<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/swiper.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/dark.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/stylesheets/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Example App</title>
</head>
<body>

  <body class="stretched">


    {{{body}}}


  	<!-- Go To Top
  	============================================= -->
  	<div id="gotoTop" class="icon-angle-up"></div>

  	<!-- External JavaScripts
  	============================================= -->
  	<script src="/javascripts/jquery.js"></script>
  	<script src="/javascripts/plugins.js"></script>

  	<!-- Footer Scripts
  	============================================= -->
  	<script src="/javascripts/functions.js"></script>

  </body>




    <!-- External JavaScripts
  	============================================= -->
  	<script src="/javascripts/jquery.js"></script>
  	<script src="/javascripts/plugins.js"></script>

  	<!-- Footer Scripts
  	============================================= -->
  	<script src="/javascripts/functions.js"></script>

</body>
</html>
